/* Import Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.main-wrap {
    float: left;
    width: 100%;
    overflow: hidden;
}
img {
    width: 100%;
    height: 100%;
}
.common-wrap {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    clear: both;
}
:root {
    --primaryColor: #4070f4;
}

/* Custom ScrollBar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

/* ==========Header Section css Start========== */
.header-wrap {
    float: left;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: relative;
}
.header-inner nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
nav .logo {
    user-select: none;
}
nav .logo a {
    text-decoration: none;
    font-size: 25px;
    color: var(--primaryColor);
    font-weight: 600;
}
.menu-items ul {
    list-style: none;
    display: flex;
}
.menu-items ul li {
    margin: 0 10px;
}
.menu-items ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #0e2431;
    font-weight: 600;
}
.header-social ul {
    display: flex;
    list-style: none;
}
.header-social ul li {
    margin: 0 10px;
}
.header-social ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--primaryColor);
    background: #fff;
    border-radius: 5px;
    box-shadow: 
        0 0 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}
.header-social ul li a.facebook:hover {
    color: #fff;
    background: #4267b2;
}
.header-social ul li a.instagram:hover {
    color: #fff;
    background: #3f729b;
}
.header-social ul li a.linkedin:hover {
    color: #fff;
    background: #0077b5;
}
.header-social ul li a i {
    transition: all 0.4s ease;
}
.header-social ul li a:hover i {
    transform: scale(1.5);
}
.menu-items .cancel-btn {
    display: none;
}
.header-inner .menu-button {
    display: none;
}

/* ==========Hero Section css Start========== */
.hero-wrap {
    float: left;
    width: 100%;
    background: url(../img/background.png) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}
.hero-inner {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}
.hero-content h3 {
    font-size: 1.2em;
    color: #333333;
    font-weight: 500;
}
.hero-content h1 {
    font-size: 3em;
    color: var(--primaryColor);
    font-weight: 600;
}
.hero-content h2 {
    font-size: 1.5em;
    color: #333;
    font-weight: 500;
}
.hero-content h4 {
    font-size: 1.2em;
    color: #333;
    font-weight: 500;
}
.hero-content .hero-btn{
    margin: 20px 0;
}
.hero-btn button span{
    position: relative;
    z-index: 1;
}
.hero-content .hero-btn button {
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background: var(--primaryColor);
    position: relative;
    overflow: hidden;
}
.hero-btn button::before {
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #163487;
    transition: width .5s, height .5s;
}
.hero-btn button:hover::before {
    width: 100px;
    height: 100px;
}

/* ==========About Section css Start========== */
.about-wrap {
    float: left;
    width: 100%;
}
.about-inner {
    padding: 50px 0;
}
.about-wrap .title {
    margin-bottom: 30px;
    text-align: center;
}
.about-wrap .title h2 {
    display: inline-block;
    position: relative;
    font-size: 2em;
    color: var(--primaryColor);
    padding: 0 0 10px;
}
.about-wrap .title h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: var(--primaryColor);
}
.about-wrap .title h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2.5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--primaryColor);
}
.about-content {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    grid-gap: 40px;
}
.about-img {
    max-height: 450px;
    height: 100%;
    border-radius: 15px;
}
.about-img img {
    border-radius: 15px;
    border: 3px solid var(--primaryColor);
}
.about-text h2 {
    font-size: 2em;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
}
.about-text p {
    font-size: 1em;
    color: #333;
    text-align: justify;
    margin-bottom: 20px;
}
.about-btn .button span {
    position: relative;
    z-index: 1;
}
.about-text .about-btn .button {
    border: none;
    outline: none;
    font-size: 1.2em;
    font-weight: 500;
    padding: 10px 20px;
    background: var(--primaryColor);
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.about-btn .button::before {
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #41bffb;
    transition: width .5s, height .5s;
}
.about-btn button:hover::before {
    width: 100px;
    height: 100px;
}


/* =========Skills Section css Start========== */
.skills-wrap {
    float: left;
    width: 100%;
    background: #F0F8FF;
}
.skills-inner {
    padding: 50px 0;
}
.skills-title {
    margin-bottom: 40px;
    text-align: center;
}
.skills-title h2 {
    font-size: 2em;
    font-weight: 600;
    color: var(--primaryColor);
    display: inline-block;
    position: relative;
}
.skills-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7px;
    transform: translateX(-50%);
    width : 100%;
    height: 3px;
    background: var(--primaryColor);
}
.skills-title h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width : 80%;
    height: 3px;
    background: var(--primaryColor);
}
.skills-content {
    display: flex;
    align-items: center;
    gap: 40px;
}
.skills-content .skills-text {
    width: 60%;
}
.skills-text h2 {
    font-size: 1.5em;
    font-weight: 600;
    color: #333;
    margin: 0 0 7px;
}
.skills-text p {
    font-size: 1em;
    color: #333;
    text-align: justify;
    font-weight: 500;
    margin: 0 0 10px;
}
.skills-text .experience {
    display: flex;
    align-items: center;
    gap: 5px;
}
.skills-text .experience .num {
    font-size: 4.5em;
    font-weight: 600;
    color: #333;
}
.skills-text .experience .text {
    color: #333;
}
.skills-content .skills-chart {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    grid-gap: 30px;
}
.skills-chart .skills-box .topic {
    display: block;
    font-size: 1.5em;
    font-weight: 500;
    color: var(--primaryColor);
}
.skills-chart .skills-box .per {
    display: block;
    font-size: 3.5em;
    font-weight: 600;
    color: var(--primaryColor);
}