/* Import Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
}
.common-wrap {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    clear: both;
}
:root {
    --primaryColor: #4070f4;
}

/* Custom ScrollBar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #6e93f7;
    border-radius: 12px;
    transition: all 0.3s ease;
}

/* ==========Header Section css Start========== */
.header-wrap {
    float: left;
    width: 100%;
    background: #f2f2f2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: relative;
}
.header-inner nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
nav .logo {
    user-select: none;
}
nav .logo a {
    text-decoration: none;
    font-size: 25px;
    color: var(--primaryColor);
    font-weight: 600;
}
.menu-items ul {
    list-style: none;
    display: flex;
}
.menu-items ul li {
    margin: 0 10px;
}
.menu-items ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #0e2431;
    font-weight: 600;
}
.header-social ul {
    display: flex;
    list-style: none;
}
.header-social ul li {
    margin: 0 10px;
}
.header-social ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: var(--primaryColor);
    background: #fff;
    border-radius: 5px;
    box-shadow: 
        0 0 10px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease;
}
.header-social ul li a.facebook:hover {
    color: #fff;
    background: #4267b2;
}
.header-social ul li a.instagram:hover {
    color: #fff;
    background: #3f729b;
}
.header-social ul li a.linkedin:hover {
    color: #fff;
    background: #0077b5;
}
.header-social ul li a i {
    transition: all 0.4s ease;
}
.header-social ul li a:hover i {
    transform: scale(1.5);
}
.menu-items .cancel-btn {
    display: none;
}
.header-inner .menu-button {
    display: none;
}

/* ==========Hero Section css Start========== */
.hero-wrap {
    float: left;
    width: 100%;
    background: url(../img/background.png) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
}
.hero-inner {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
}
.hero-content h3 {
    font-size: 1.2em;
    color: #333333;
    font-weight: 500;
}
.hero-content h1 {
    font-size: 3em;
    color: var(--primaryColor);
    font-weight: 600;
}
.hero-content h2 {
    font-size: 1.5em;
    color: #333;
    font-weight: 500;
}
.hero-content h4 {
    font-size: 1.2em;
    color: #333;
    font-weight: 500;
}
.hero-content .hero-btn{
    margin: 20px 0;
}
.hero-content .hero-btn button {
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 1.2em;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background: var(--primaryColor);
}

/* ==========About Section css Start========== */
.about-wrap {
    float: left;
    width: 100%;
}
.about-inner {
    padding: 50px 0;
}
.about-wrap .title {
    margin-bottom: 30px;
    text-align: center;
}
.about-wrap .title h2 {
    display: inline-block;
    position: relative;
    font-size: 2em;
    color: var(--primaryColor);
    padding: 0 0 10px;
}
.about-wrap .title h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: var(--primaryColor);
}
.about-wrap .title h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -2.5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--primaryColor);
}
.about-content {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    grid-gap: 40px;
}
.about-img {
    
}



/* Skills section Start */
.skills {
    background: #f0f8ff;
}

.skills-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills-details .left {
    width: 50%;
}

.skills .left p {
    color: #0e2431;
    text-align: justify;
}

.skills-details .boxes {
    width: 45%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills-details .experience {
    display: flex;
    align-items: center;
}

.skills-details .experience .num {
    font-size: 80px;
    color: #0e2431;
    font-weight: 500;
}

.skills .boxes .box {
    width: calc(100% / 2 - 20px);
    color: #4070f4;
}

.skills .boxes .box .topic {
    font-weight: 500;
}

.skills .boxes .box .num {
    font-size: 60px;
    font-weight: 500;
}


/* Services section start */

.services .boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.services .boxes .box {
    padding: 20px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    text-align: center;
    transition: all 0.5s ease;
}

.services .boxes .box:hover {
    background: #4070f4;
    color: #fff;
}

.services .boxes .box .icon {
    height: 50px;
    width: 50px;
    background: #4070f4;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 100%;
    margin: 0 auto 10px auto;
    transition: all 0.4s ease;
}

.services .boxes .box:hover .icon {
    background: #fff;
    color: #4070f4;
}

.services .boxes .box p {
    text-align: center;
}


/* Contact section css */

.contact {
    background: #fff;
}

.contact .text {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.contact .button {
    text-align: center;
}


/* Footer Css */

footer {
    background: #4070f4;
    padding: 11px 0;
    text-align: center;
}

footer .text span {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
}

footer .text a {
    color: #fff;
    transition: all 0.3s ease;
}

footer .text a:hover {
    text-decoration: underline;
}


/* Scroll-button Css */

.scroll-button a {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: #4070f4;
    color: #fff;
    font-size: 18px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    display: none;
}


/* Responsive media quary css */

@media (max-width: 1190px) {
    .about .content {
        width: 85%;
    }
    .skills .content {
        width: 90%;
    }
    .services .boxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1090px) {
    .about .about-details {
        flex-direction: column;
    }
    .about .about-details .right {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about .about-details .left {
        width: 90%;
        margin: 30px 0px;
    }
}

@media (max-width: 750px) {
    nav .navbar .menu {
        position: absolute;
        left: -100%;
        top: 0;
        max-width: 400px;
        width: 100%;
        height: 100vh;
        background: #0e2431;
        flex-direction: column;
        align-items: center;
        padding-top: 60px;
        transition: all 0.5s ease;
    }
    nav .navbar.active .menu {
        left: 0;
    }
    nav .navbar .menu li a {
        display: block;
        font-size: 23px;
        margin: 10px 0;
        color: #fff;
    }
    .navbar .media_icon a {
        display: none;
    }
    nav .menu-button,
    .navbar .cancel-btn {
        display: block;
    }
    .home-content .home-text .text-two {
        font-size: 65px;
        font-weight: 600;
        color: #4070f4;
    }
    .home-content .home-text .text-three {
        font-size: 35px;
    }
    .skills-details {
        flex-direction: column;
    }
    .skills-details .left {
        width: 90%;
    }
    .skills-details .boxes {
        width: 90%;
    }
    .services .boxes {
        grid-template-columns: 1fr;
    }
    .contact .text {
        width: 100%;
    }
}

@media (max-width: 515px) {
    .home-content .home-text .text-two {
        font-size: 50px;
    }
    .home-content .home-text .text-three {
        font-size: 30px;
    }
    .about .about-details .right img {
        max-width: 400px;
        width: 90%;
        max-height: 400px;
        height: 100%;
    }
}

@media (max-width: 400px) {
    .home-content .home-text .text-two {
        font-size: 43px;
    }
    .home-content .home-text .text-three {
        font-size: 27px;
    }
    .about .about-details .right img {
        width: 100%;
    }
}